


<div class="grid__item">
  <div class="collection-products position-change">
     {% include 'collection-sidebar' %}
    <div class="collection_grid_template second">
    {% section 'collection-template' %}
    </div>
  </div>
</div>   